<p>Update your account's profile information.</p>

 <div class="row">
    <form action="/profile/{{profile.linkedinId}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{profile.displayName}} Profile</span>
                <img src="{{profile.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/profile/edit/profilepic/{{profile.linkedinId}}" class="waves-effect waves-light red lighten-2 btn"><i class="fas fa-user-circle right"></i>Change Photo</a>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="firstName" name="firstName" type="text" value="{{profile.firstName}}" class="validate" required>
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="lastName" type="text" name="lastName" value="{{profile.lastName}}" class="validate" required>
          <label for="lastName">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled name="linkedinId" value={{profile.linkedinId}} id="linkedinId" type="text" class="validate">
          <label for="linkedinId">LinkedIn Id</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="displayName" name="displayName" type="text" value="{{profile.displayName}}" class="validate" required>
          <label for="displayName" class="active">Display Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="emailAddress" name="emailAddress" type="email" class="validate" required value={{profile.emailAddress}}>
          <label for="emailAddress">Primary Email</label>
        </div>
        <div class="input-field col s6">
          <input id="phone" name="phone" type="text" class="validate" value={{profile.phone}}>
          <label for="phone">Phone</label>
        </div>        
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Country" id="country" name="country" type="text" value="{{profile.country}}">
          <label for="city">Country</label>
        </div>

        <div class="input-field col s4">
          <input placeholder="City" id="city" name="city" type="text" value="{{profile.city}}">
          <label for="city">City / State</label>
        </div>

        <div class="input-field col s4">
          <input placeholder="Town / Suburb" id="town" name="town" type="text" value="{{profile.town}}">
          <label for="city">Town / Suburb</label>
        </div>        
      </div>


      <div class="row">
        <div class="input-field col s12">
          <p>Briefly tell us about your public speaking experience</p>
          <textarea id="body" name="body" class="materialize-textarea">{{profile.body}}</textarea>          
        </div>
      </div>

      </div>


      <div class="row">
        <div class="col s12">
          <p>Let us know your interests for us to best serve you</p>
        </div>
      </div>
      
      <div class="row">        
        <div class="col s4">
          <label for="indeterminate-checkbox-1">
            <input id="indeterminate-checkbox-1" name="indeterminate-checkbox-1" type="checkbox" onclick='handleClick(this);' />
            <span>Music</span>
          </label>
        </div>
        
        <div class="col s4">
          <label for="indeterminate-checkbox-2">
            <input id="indeterminate-checkbox-2" name="indeterminate-checkbox-2" type="checkbox" />
            <span>Art</span>
          </label>
        </div>
        
        <div class="col s4">
          <label for="indeterminate-checkbox-3">
            <input id="indeterminate-checkbox-3" name="indeterminate-checkbox-3" type="checkbox" />
            <span>Technology</span>
          </label>
        </div>
      </div>

      <div class="row">        
        <div class="col s4">
          <label for="indeterminate-checkbox-4">
            <input id="indeterminate-checkbox-4" name="indeterminate-checkbox-4" type="checkbox" />
            <span>Culture</span>
          </label>
        </div>
        
        <div class="col s4">
          <label for="indeterminate-checkbox-5">
            <input id="indeterminate-checkbox-5" name="indeterminate-checkbox-5" type="checkbox" />
            <span>Sport</span>
          </label>
        </div>
        
        <div class="col s4">
          <label for="indeterminate-checkbox-6">
            <input id="indeterminate-checkbox-6" name="indeterminate-checkbox-6" type="checkbox" />
            <span>Education</span>
          </label>
        </div>
      </div>

      <div class="row">        
        <div class="col s4">
          <label for="indeterminate-checkbox-7">
            <input id="indeterminate-checkbox-7" name="indeterminate-checkbox-7" type="checkbox" />
            <span>Business</span>
          </label>
        </div>
        
        <div class="col s4">
          <label for="indeterminate-checkbox-8">
            <input id="indeterminate-checkbox-8" name="indeterminate-checkbox-8" type="checkbox" />
            <span>Environment</span>
          </label>
        </div>
        
        <div class="col s4">
          <label for="indeterminate-checkbox-9">
            <input id="indeterminate-checkbox-9" name="indeterminate-checkbox-9" type="checkbox" />
            <span>Fashion</span>
          </label>
        </div>
      </div>      

      <div class="row">
        <div class="col s12">
          <p>Provide us with a few YouTube links of some of your Public Speaking appearances (if any, this is not compulsory)</p>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input id="link1" type="url" name="videoLinks" value={{profile.videoLinks}} class="validate">
          <label for="link1">YouTube/Vimeo Link 1</label>
          <span class="helper-text" data-error="invalid url" data-success="valid url">Valid URL's only</span>
        </div>
        <div class="input-field col s4">
          <input id="link2" type="url" name="videoLinks" value={{profile.videoLinks}} class="validate">
          <label for="link2">YouTube/Vimeo Link 2</label>
          <span class="helper-text" data-error="invalid url" data-success="valid url">Valid URL's only</span>
        </div>          
        <div class="input-field col s4">
          <input id="link3" type="url" name="videoLinks" value={{profile.videoLinks}} class="validate">
          <label for="link3">YouTube/Vimeo Link 3</label>
          <span class="helper-text" data-error="invalid url" data-success="valid url">Valid URL's only</span>
        </div>                  
      </div>

      <div class="row">
        <div class="col s12">
          <p>Now give us some details about your rates and pricing</p>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Hourly</option>
            <option value="2">Daily</option>
            <option value="3">No charge</option>
          </select>
          <label>My Rate is</label>
        </div>

        <div class="input-field col s6">
          <input placeholder="Rate" id="payRate" name="payRate" type="number" value={{profile.payRate}} class="validate" step="10">
          <label for="payRate">Specify your rate</label>
        </div>                          
      </div>

      <div class="row">
        <div class="col s12">
          <p>You can set your profile visibility to Public or Private</p>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
        <!-- Switch -->
          <div class="switch">
            <label>
              Private
              <input type="checkbox">
              <span class="lever"></span>
              Public
            </label>
          </div>          
        </div>
      </div>

    <button class="btn waves-effect waves-light red lighten-2" type="submit">Save
        <i class="fas fa-save right"></i>
    </button>
    <a href="/profile" class="btn orange">Cancel</a>

    </form>
  </div>