<h1>Interest Categories</h1>
    <form action="/categories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input name="categoryName" value="{{categories.categoryName}}" id="categoryName" type="text" class="validate" required>
                <label for="categoryName">Category Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="displayName" value="{{categories.displayName}}" id="displayName" type="text" class="validate">
                <label for="displayName">Display Name</label>
            </div>
        </div>         

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>

    </form>

<div class="row">

    {{#each categories}}
        <div class="chip red lighten-3">        
            <a href="/categories/{{categories._id}}">{{categories.categoryName}} + 1</a>
        </div>     
    {{else}}
        <p>No Categories to display.</p>
    {{/each}}    

</div>

<p>Here is a list of the categories of interest</p>
<ol>
    <li>Music</li>
    <li>Art</li>
    <li>Technology</li>
    <li>Culture</li>
    <li>Sport</li>
    <li>Education</li>
    <li>Business</li>
    <li>Environment</li>
    <li>Fashion</li>
    <li>Fitness</li>
    <li>Health</li>
    <li>Gaming</li>
    <li>Hobbies</li>
    <li>LGBT</li>
    <li>Lifestyle</li>
    <li>Politics</li>
    <li>Movies & Film</li>
    <li>Spirituality</li>
    <li>Outdoors & Adventure</li>
    <li>Travel</li>
    <li>Pets and Animals</li>
    <li>Photography</li>
    <li>Writing</li>    
</ol>

<div class="row">
    <div class="col s3">
        <div class="chip red lighten-2">
            Music
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="col s3">
        <div class="chip red lighten-2">
            Art
            <i class="fas fa-times"></i>
        </div>
    </div>    
    <div class="col s3">
        <div class="chip red lighten-2">
            Technology
            <i class="fas fa-times"></i>
        </div>
    </div>    
    <div class="col s3">
        <div class="chip red lighten-2">
            Culture
            <i class="fas fa-times"></i>
        </div>
    </div>     
</div>